@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar but keep scrolling enabled */
html {
    overflow-y: hidden; /* Hide scrollbar on the main document */
  }
  
  body {
    height: 100vh; /* Full viewport height */
    overflow-y: scroll; /* Make body scrollable */
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
  